body {
  background-color: #89CFF0;
  margin: 0px;
  padding: 0px
}

.toppart {
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 0px
}

.Home {
  color: white;
  margin: 0px;
  font-size: 30px;
  position: absolute;
  left: 100px;
  top: 5px;
  transition: 0.5s
}

.coolicon {
  margin: 0px;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 20px
}

.textfortoppart {
  color: white;
  text-decoration: none;
}

.textgone {
  text-decoration: none;
}

.Links {
  color: white;
  margin: 0px;
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 200px;
  transition: 0.5s
}

.CopyAndPaste {
  color: white;
  margin: 0px;
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 290px;
  transition: 0.5s
}

.cooltext {
  color: white;
  margin: 0px;
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 850px
}

.text {

  color: black;


  animation: fadein 2s;

}
.middle {
  text-align: center;
}
@keyframes fadein {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }

}
.Home:hover {
  transform: scale(1.5);
}
.Links:hover {
  transform: scale(1.5);
}
.CopyAndPaste:hover {
  transform: scale(1.1);
}
